*{
margin: 0px;
box-sizing: border-box;
}

@font-face {
    font-family: 'discord1' ;
    src: url(../../assets/fonts/discord1.woff2);
}

@font-face {
    font-family: 'discord2';
    src: url( ../../assets/fonts/discord2.woff2);
}
@font-face {
    font-family: 'discord3';
    src: url( ../../assets/fonts/discord3.woff2);
}
@font-face {
    font-family: 'discord4';
    src: url( ../../assets/fonts/discord4.ttf);
}
@font-face {
    font-family: 'discord5';
    src: url( ../../assets/fonts/discord6.ttf);
}
@font-face {
    font-family: 'discord6';
    src: url( ../../assets/fonts/discord7.woff2);
}
@font-face {
    font-family: 'discord7';
    src: url( ../../assets/fonts/discord7.woff2);
}

img{
    height: 30vh;
    
}

button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 470px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    height: 200vh;
      align-items: center;
    justify-content:center ;
     
     
}
.container {
    display: flex;
   
   
  
}
.container h1{
   font: 48px 'discord7';

}

.sub1{
    display: flex;
    flex-direction: row;    
    
    
    justify-content: center;
    align-items: center;
    margin: ;
}

.sub1 p{
    font: 24px 'discord3';
    width: 400px;
    text-align: center;
}

.sub1 div{
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.sub2{
    display: flex;
    flex-direction: row;
    

    justify-content: center;
    align-items: center;
}
.sub2 p{
    font: 24px 'discord3';
    width: 400px;
    text-align: center;
}
.sub2 div{
    margin: 10px;
    border-radius: 10px;
    flex-direction: column;

    display: flex;
    align-items: center;
    justify-content: center;
}


.quadrado1{
    display: flex;
    background-color: #F6F6F6;
    height: 379px;
    width: 577px;
}
.quadrado2{
    display: flex;
    background-color: #F6F6F6;
    height: 379px;
    width: 577px;
}
.quadrado3{
    display: flex;
    background-color: #F6F6F6;
    height: 379px;
    width: 577px;
}
.quadrado4{
    display: flex;
    background-color:#F6F6F6;
    height: 379px;
    width: 577px;
}


button{

   
    border-radius: 50px;
    background-color: black;
    height: 50px;
    width: 250px;
    color: white;
}

p{

    font: 15 15px'discord4'  ;
    font: bold;
    
}
