@font-face {
    font-family:'discord1' ;
    src: url(../assets/font/fonts/discord1.woff2);
}
@font-face {
    font-family:'discord2' ;
    src: url(../assets/font/fonts/discord2.woff2);
}
@font-face {
    font-family:'discord3' ;
    src: url(../assets/font/fonts/discord3.woff2);
}
@font-face {
    font-family:'discord4' ;
    src: url(../assets/font/fonts/discord4.woff2);
}
@font-face {
    font-family:'discord5' ;
    src: url(../assets/font/fonts/discord5.woff2);
}
@font-face {
    font-family:'discord6' ;
    src: url(../assets/font/fonts/discord6.woff2);
}
@font-face {
    font-family:'discord7' ;
    src: url(../assets/font/fonts/discord7.woff2);
}
@font-face {
    font-family:'discord8' ;
    src: url(../assets/font/fonts/discord8.woff2);
}
@font-face {
    font-family:'discord9' ;
    src: url(../assets/font/fonts/625933f88d74f02a9b667907_Ginto\ Nord\ Ultra.ttf);
}